/*general styles*/
.cont-cal, .cont-cal-control {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.cont-cal .day,
.cont-cal-control .btn,
.cont-cal-control .cont-cal-title {
    text-align: center;
    box-sizing: border-box;
    padding-top: 20px;
    padding-bottom: 20px;
    cursor: pointer;
}

.cont-cal .day,
.cont-cal-control .btn {
    width: 14.286%;
}

/*hovers for buttons and days*/
.cont-cal-control .btn:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

.cont-cal > .current-month:hover,
.cont-cal.days-2 > .current-month:hover + .day,
.cont-cal.days-3 > .current-month:hover + .day,
.cont-cal.days-4 > .current-month:hover + .day,
.cont-cal.days-5 > .current-month:hover + .day,
.cont-cal.days-6 > .current-month:hover + .day,
.cont-cal.days-7 > .current-month:hover + .day,
.cont-cal.days-3 > .current-month:hover + .day + .day,
.cont-cal.days-4 > .current-month:hover + .day + .day,
.cont-cal.days-5 > .current-month:hover + .day + .day,
.cont-cal.days-6 > .current-month:hover + .day + .day,
.cont-cal.days-7 > .current-month:hover + .day + .day,
.cont-cal.days-4 > .current-month:hover + .day + .day + .day,
.cont-cal.days-5 > .current-month:hover + .day + .day + .day,
.cont-cal.days-6 > .current-month:hover + .day + .day + .day,
.cont-cal.days-7 > .current-month:hover + .day + .day + .day,
.cont-cal.days-5 > .current-month:hover + .day + .day + .day + .day,
.cont-cal.days-6 > .current-month:hover + .day + .day + .day + .day,
.cont-cal.days-7 > .current-month:hover + .day + .day + .day + .day,
.cont-cal.days-6 > .current-month:hover + .day + .day + .day + .day + .day,
.cont-cal.days-7 > .current-month:hover + .day + .day + .day + .day + .day,
.cont-cal.days-7 > .current-month:hover + .day + .day + .day + .day + .day + .day {
    background-color: rgba(0, 0, 0, 0.15);
}



/*calendar days*/
.cont-cal .day {
    display: inline-block;
    color: transparent;
}

.cont-cal .day.current-month {
    color: inherit;
}

.cont-cal > .day.selected,
.cont-cal.days-2 > .day.selected + .day,
.cont-cal.days-3 > .day.selected + .day,
.cont-cal.days-4 > .day.selected + .day,
.cont-cal.days-5 > .day.selected + .day,
.cont-cal.days-6 > .day.selected + .day,
.cont-cal.days-7 > .day.selected + .day,
.cont-cal.days-3 > .day.selected + .day + .day,
.cont-cal.days-4 > .day.selected + .day + .day,
.cont-cal.days-5 > .day.selected + .day + .day,
.cont-cal.days-6 > .day.selected + .day + .day,
.cont-cal.days-7 > .day.selected + .day + .day,
.cont-cal.days-4 > .day.selected + .day + .day + .day,
.cont-cal.days-5 > .day.selected + .day + .day + .day,
.cont-cal.days-6 > .day.selected + .day + .day + .day,
.cont-cal.days-7 > .day.selected + .day + .day + .day,
.cont-cal.days-5 > .day.selected + .day + .day + .day + .day,
.cont-cal.days-6 > .day.selected + .day + .day + .day + .day,
.cont-cal.days-7 > .day.selected + .day + .day + .day + .day,
.cont-cal.days-6 > .day.selected + .day + .day + .day + .day + .day,
.cont-cal.days-7 > .day.selected + .day + .day + .day + .day + .day,
.cont-cal.days-7 > .day.selected + .day + .day + .day + .day + .day + .day {
    background-color: rgba(1, 174, 193, 1);
    color: #fff;
}


.cont-cal .day.today {
    background-color: rgba(0, 117, 130, 1);
    color: #fff;
}



/*controls styles*/
.cont-cal-control {
    overflow: auto;
}

/*buttons*/
.cont-cal-control .btn {
    font-weight: bold;
    width: 14.286%;
}

.cont-cal-control .btn-previous-month {
    float: left;
}

.cont-cal-control .btn-next-month {
    float: right;
}

.cont-cal-control .cont-cal-title {
}
